@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-gray text-brand-dark transition-colors duration-300 antialiased;
  }
  
  .dark body {
    @apply bg-brand-dark text-brand-gray;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
